/*****     MAIN     STYLE       *****/

body {
	font-family: "Open Sans Regular";
}

a:focus, a:hover {
	text-decoration: none;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

ul {
	list-style: none;
}

/*****     FIN    MAIN     STYLE       *****/

/***** DEBUT HEADER   ****/

#banner {
	background: url(images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

#headerText {
    min-height: 260px;
    padding: 20px 0 260px;
    color: #fff;
}

#slidetext1 {
	font-size: 26px;
	text-transform: uppercase;
}

#slidetext1 span {
	font-family: "Open Sans Bold";
}

#headerText img {
	width: 50%;
}
	
#callTo {
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
	position: relative;
	top: -230px;
	border-radius: 0.2rem;
	box-shadow:  1px 1px 1px rgba(0, 0, 0, 0.28);
}

#callToForm {
	padding: 2rem .5rem 1.5rem;
    margin: 0 auto;
    width: 100%;
}

#callToForm .form-control {
	font-family: "Open Sans Regular";
    font-size: 15px;
    color: #b4adad;
	border: 1px solid #e5e5e5;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.09);
}

#layerImages {
	background: url(images/callToLayers.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	min-height: 85px;
}

.callToText {
	padding: 0.8rem 2.5rem;
    font-size: 15px;
    color: #b4adad;
}

#pressMeButton {
	margin: 0 auto;
    background-color: #227dd3;
    color: #fff;
    font-family: "Open Sans Semibold";
	font-size: 26px;
    padding: 0.5rem 2rem;
    border-radius: 0.15rem;
}

@media screen and (min-width: 578px) {
	#headerText {
		padding: 72px 0 288px;
	}
	
	#callToForm {
		padding: 2rem 2rem 1.5rem;
	}
}

@media screen and (min-width: 578px) and (max-width: 767px) {	
	#headerText {
		min-height: 360px;
	}
	
	#slidetext1 {
		font-size: 30px;
	}
	
	#headerText img {
		width: 40%;
	}
	
	#callTo {
		width: 65%;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {	
	#slidetext1 {
		font-size: 40px;
	}
	
	#headerText img {
		width: 30%;
	}
	
	#callTo {
		width: 50%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {	
	#callTo {
		width: 36%!important;
	}
}

@media screen and (min-width: 992px) {	
	#headerText {
		min-height: 650px;
	}

	#slidetext1 {
		font-size: 50px;
		line-height: 1.2;
	}
	
	#headerText img {
		width: auto;
	}
	
	#callTo {
		width: 30%;
		top: -230px;
	}
}

/****	FIN  HEADER   ****/

/***** DEBUT BOXES   ****/

#boxes {
	padding: 1rem 0;
}

.boxImages {
	float: none;
}

#boxes h4 {
	padding: .5rem 0 0;
	font-family: "Open Sans Semibold";
	font-size: 27px;
}

.boxText {
	color: #4f4e4e;
    font-size: 14px;
    padding: 0;
}

@media screen and (min-width: 578px) {	
	#boxes {
		padding: 2rem 0 5rem;
	}
	
	.boxImages {
		float: right;
	}
}

@media screen and (min-width: 578px) and (max-width: 767px) {	
	.boxImages {
		width: 70%;
	}
	
	#boxes h4 {
		font-size: 20px;
	}
}

@media screen and (min-width: 992px) {	
	.boxText {
		padding: 0 3rem 0 0;
	}
}

/****	FIN  BOXES   ****/

/***** DEBUT OBLIQUE1   ****/

#oblique1, #sec2 {
	background-color: #5fc18b;
	padding: 2rem 0;
	color: #fff;
}

#oblique1Content {
	margin: 0 auto;
	width:90%;
}

#oblique1 img, #oblique2 img {
	width: 100%;
}

#oblique1 h3, #oblique2 h3 {
	font-family: "Open Sans Semibold";
	font-size: 22px;
}

#oblique1 p, #oblique2 p {
	font-size: 12px;
	padding: .5rem 0;
}

@media screen and (min-width: 578px) {
	#oblique1Content {
		width: 80%;
	}
	
	#oblique1 img {
		width: auto;
	}
	
	#oblique1 h3, #oblique2 h3 {
		font-size: 39px;
	}

	#oblique1 p, #oblique2 p {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {	
	#oblique1, #sec2 {
		padding: 5rem 0;
	}
	
	#oblique1Content {
		width: 70%!important;
	}
}

@media screen and (min-width: 992px) {
	#oblique1Content {
		width: 61%!important;
	}	
}

/****	FIN  OBLIQUE1   ****/

/***** DEBUT OBLIQUE2   ****/

#oblique2, #sec2 {
	background-color: #44a36f;
}

#sec2 {
	margin: 0 auto;
	width: 100%;
}

#shadow {
	background-color: #308355;
	height: 1rem;
}

#downloadButton {
	border: 3px solid #fff;
	border-radius: .5rem;
	color: #fff;
	font-family: "Open Sans Semibold";
	font-size: 26px;
	padding: 0.5rem 2rem;
	box-shadow: 0 0 0 transparent;
}

@media screen and (min-width: 992px) {
	#sec2 {
		width: 72%;
	}	
}

/****	FIN  OBLIQUE2   ****/

/***** DEBUT CONTACT   ****/

#formulaire {
	position: absolute;
    left: 12%;
	margin-top: -170%;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.85);
}

#formulaire .form-control {
	border: 1px solid #d8d8d8;
	border-radius: 0;
	color: rgba(76, 80, 93, 0.5);
	font-size: 14px;
	width: 60%;
	margin: 0 auto;
}

#checkIcon {
	color: #fff;
	background-color: #43a06d;
	border-radius: 3rem;
    padding: .3rem;
}

@media screen and (min-width: 360px) and (max-width: 577px) {
	#formulaire {
		left: 20%;
		margin-top: -110%;
		padding: 2rem 3rem;
	}	
}

@media screen and (min-width: 578px) {
	#formulaire {
		padding: 4rem 6.5rem 3rem;
	}
	
	#formulaire .form-control {
		width: 100%;
	}
	
	#checkIcon {
		padding: 1rem;
	}
}

@media screen and (min-width: 578px) and (max-width: 768px) {
	#formulaire {
		left: 12%;
		margin-top: -100%;
	}	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#formulaire {
		left: 25%;
		margin-top: -70%;
	}	
}

@media screen and (min-width: 992px) {
	#formulaire {
		left: 35%;
		margin-top: -45%;
	}	
}

/****	FIN  CONTACT   ****/

/***** DEBUT FOOTER   ****/



/****	FIN  FOOTER   ****/
